<?xml version="1.0" encoding="utf-8"?>
<launch>
   <!-- run rviz-->
    <arg name="rviz"                default="true" />
    <!--     Name of the task file which defines the mpc problem settings-->
    <arg name="mpc_task_file"       default="as_task.info"/>
    <!-- Set path of robot description -->
    <arg name="description_file"    default="$(find as_description)/robots/as.generated.urdf"/>
    <!-- Set rviz configuration -->
    <arg name="rvizconfig"          default="$(find perceptive_mpc)/config/demo.rviz"/>

    <!-- Load robot description -->
    <param name="robot_description" textfile="$(arg description_file)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="100"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="false" />
      <param name="rate" value="50" />
      <rosparam param="source_list">[/as_control/joint_states]</rosparam>
    </node>
    
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find as_description)/rviz/as.rviz" />

    <node pkg="perceptive_mpc" name="kinematic_simulation" type="as_mpc_simulation_node" output="screen"> 
      <param name="mpc_task_file" value="$(arg mpc_task_file)"/>
      <rosparam file="$(find perceptive_mpc)/config/kinematic_simulation_parameters.yaml"/>
      <remap from="/joint_states" to="/as_control/joint_states"/>
    </node>

    <node name="interactive_pose_node" pkg="perceptive_mpc" type="interactive_marker.py" output="screen"/>
    <node name="print_tasker" pkg="print_tasker" type="print_tasker.py" output="screen"/>
</launch>